@charset 'utf-8';

/*
 * BLOG
 * ---------------------------------------------
 */

.post {
    padding-bottom: 1em;
    border-bottom: 1px solid currentColor;
    margin-bottom: 2em;
}

.post img {
    width: 100%;
    height: auto;
}



.blog-sidebar {
  position: fixed;
}