/*
 * MEDIDA CERTA
 * ---------------------------------------------------------
 */

.medida-certa {
    position: relative;
    margin-bottom: 0.4em;
}

.medida-certa.medida-chamada {
    padding: 1em 1.5em 1.1em;
}

.medida-certa figure {
    width: 100%;
    height: auto;
}

.medida-certa figcaption {
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1.25em 0.75em 1em;
}

.medida-listrados figcaption {
    width: 12.6em;
    left: 1em;
    position: absolute;
}

.medida-lisos figcaption {
    width: 9.5em;
    left: 1.5em;
}

.medida-mink figcaption {
    width: 9em;
    left: 14.375em;
}